		<section id="title" class="emerald">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-6">
	                    <h1><%= t('sobre_nosotros.miembros.miembro_2.nombre') %></h1>
	                    <p><%= t('sobre_nosotros.miembros.miembro_2.cargo') %></p>
	                </div>
	                <div class="col-sm-6">
	                    <ul class="breadcrumb pull-right">
	                        <li><%= link_to t('banner.home'), welcome_index_path %></li>
	                        <li><%= link_to t('sobre_nosotros.miembros.title'), sobre_nosotros_miembros_path %></li>
	                        <li class="active"><%= t('sobre_nosotros.miembros.miembro_2.nombre') %></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </section><!--/#title-->

		<section class="gris">
			<div class="container">
				<div id="meet-the-team" class="row">
		            <div class="col-md-3 col-xs-6">
		                <div class="center">
		                	<p><%= link_to image_tag('team-member_2.jpg'), sobre_nosotros_fernandosalas_path, :class => 'img-responsive img-thumbnail' %></p>
		                    <h5><%= t('sobre_nosotros.miembros.miembro_2.nombre') %><small class="designation muted"><%= t('sobre_nosotros.miembros.miembro_2.cargo') %></small></h5>
		                    <p><%= t('sobre_nosotros.miembros.miembro_2.resumen') %></p>
		                </div>
		            </div>
		            <div class="col-sm-6">
		                <h1><%= t('sobre_nosotros.miembros.title_resumen') %></h1>
						<p><%= t('sobre_nosotros.miembros.miembro_2.descripcion_1') %></p>
						<p><%= t('sobre_nosotros.miembros.miembro_2.descripcion_2') %></p>
						<p><%= t('sobre_nosotros.miembros.miembro_2.descripcion_3') %></p>
						<p><%= t('sobre_nosotros.miembros.miembro_2.descripcion_4') %></p>
						<p><%= t('sobre_nosotros.miembros.miembro_2.descripcion_5') %></p>
		            </div>
		        </div><!--/#meet-the-team-->
			</div>
		</section>