		<section id="title" class="emerald">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-6">
	                    <h1><%= t('sobre_nosotros.title') %></h1>
	                    <p><%= t('sobre_nosotros.sub_title') %></p>
	                </div>
	                <div class="col-sm-6">
	                    <ul class="breadcrumb pull-right">
	                        <li><%= link_to t('banner.home'), welcome_index_path %></li>
	                        <li class="active"><%= t('sobre_nosotros.title') %></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </section><!--/#title-->

	    <section id="about-us" class="container">
	        <div class="gap"></div>
	        <h1 class="center"><%= t('sobre_nosotros.miembros.title') %></h1>
	        <p class="lead center"><%= t('sobre_nosotros.miembros.descripcion') %></p>
	        <div class="gap"></div>

	        <div id="meet-the-team" class="row">
	            <div class="col-md-3 col-xs-6">
	            </div>

	            <div class="col-md-3 col-xs-6">
	                <div class="center">
	                	<p><%= link_to image_tag('team-member.jpg'), sobre_nosotros_charlesmontefusco_path, :class => 'img-responsive img-thumbnail img-circle' %></p>
	                    <h5><%= t('sobre_nosotros.miembros.miembro_1.nombre') %><small class="designation muted"><%= t('sobre_nosotros.miembros.miembro_1.cargo') %></small></h5>
	                    <p><%= t('sobre_nosotros.miembros.miembro_1.resumen') %></p>
	                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
	                </div>
	            </div>        
	            <div class="col-md-3 col-xs-6">
	                <div class="center">
	                    <p><%= link_to image_tag('team-member.jpg'), sobre_nosotros_fernandosalas_path, :class => 'img-responsive img-thumbnail img-circle' %></p>
	                    <h5><%= t('sobre_nosotros.miembros.miembro_2.nombre') %><small class="designation muted"><%= t('sobre_nosotros.miembros.miembro_2.cargo') %></small></h5>
	                    <p><%= t('sobre_nosotros.miembros.miembro_2.resumen') %></p>
	                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
	                </div>
	            </div>        
	            <div class="col-md-3 col-xs-6">
	            </div>
	        </div><!--/#meet-the-team-->
	    </section><!--/#about-us-->