		<section id="title" class="emerald">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-6">
	                    <h1><%= t('sobre_nosotros.title') %></h1>
	                    <p><%= t('sobre_nosotros.sub_title') %></p>
	                </div>
	                <div class="col-sm-6">
	                    <ul class="breadcrumb pull-right">
	                        <li><%= link_to t('banner.home'), welcome_index_path %></li>
	                        <li class="active"><%= t('sobre_nosotros.title') %></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </section><!--/#title-->

	    <section id="about-us" class="gris">
	    	<div class="container">
	            <div class="gap"></div>
	            <div class="center">
	            	<h2><%= t('sobre_nosotros.historia.title') %></h2>
	            </div>
	            <p align="justify"><%= t('sobre_nosotros.historia.descripcion') %></p>
	            <div class="gap"></div>
            </div>
	    </section><!--/#about-us-->