		<section id="title" class="emerald">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-6">
	                    <h1><%= t('sobre_nosotros.title') %></h1>
	                    <p><%= t('sobre_nosotros.sub_title') %></p>
	                    <ul class="breadcrumb pull-left">
                            <li class="active"><%= t('sobre_nosotros.historia.title') %></li>
    	                    <li><%= link_to t('sobre_nosotros.miembros.title'), sobre_nosotros_miembros_path %></li>
    	                </ul>
	                </div>
	                <div class="col-sm-6">
	                    <ul class="breadcrumb pull-right">
	                        <li><%= link_to t('banner.home'), welcome_index_path %></li>
	                        <li class="active"><%= t('sobre_nosotros.title') %></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </section><!--/#title-->

	    <section id="about-us" class="gris">
	    	<div class="container">
	            <div class="center">
	            	<h2><%= t('sobre_nosotros.historia.title') %></h2>
	            </div>
	            
	            <p align="justify"><%= t('sobre_nosotros.historia.descripcion') %></p>
	            
	            <hr>

	            <div class="row">
	            	<div class="col-md-4">
	            		<%= link_to image_tag('html/historia1.jpg'), sobre_nosotros_sobre_nosotros_path, :class => 'img-responsive img-thumbnail' %>
	            	</div>
	            	<div class="col-md-4">
	            		<%= link_to image_tag('html/historia2.jpg'), sobre_nosotros_sobre_nosotros_path, :class => 'img-responsive img-thumbnail' %>
	            	</div>
	            	<div class="col-md-4">
	            		<%= link_to image_tag('html/historia3.jpg'), sobre_nosotros_sobre_nosotros_path, :class => 'img-responsive img-thumbnail' %>
	            	</div>
	            </div>

	            <!--
	            <section id="main-slider" class="no-margin">
	                <div class="carousel slide wet-asphalt">
	                    <ol class="carousel-indicators">
	                        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
	                        <li data-target="#main-slider" data-slide-to="1"></li>
	                        <li data-target="#main-slider" data-slide-to="2"></li>
	                    </ol>
	                    <div class="carousel-inner">
	                        <div class="item active" style="background-image: url(<%= asset_path 'html/historia1.jpg' %>)">
	                        </div>
	                        <div class="item" style="background-image: url(<%= asset_path 'html/historia2.jpg' %>)">
	                        </div>
	                        <div class="item" style="background-image: url(<%= asset_path 'html/historia3.jpg' %>)">
	                        </div>
	                    </div>
	                </div>
	                <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
	                    <i class="icon-angle-left"></i>
	                </a>
	                <a class="next hidden-xs" href="#main-slider" data-slide="next">
	                    <i class="icon-angle-right"></i>
	                </a>
	            </section>
	        	-->
	        	
            </div>
	    </section><!--/#about-us-->

	    <section id="about-us" class="gris">
	    	<div class="container">
	    		<hr>
	    	</div>
	    </section>