		<section id="title" class="emerald">
		    <div class="container">
		        <div class="row">
		            <div class="col-sm-6">
		                <h1><%=  t('contactanos.title') %></h1>
		                <p><%=  t('contactanos.sub_title') %></p>
		            </div>
		            <div class="col-sm-6">
		                <ul class="breadcrumb pull-right">
		                    <li><%=  link_to t('banner.home'), welcome_index_path %></li>
		                    <li class="active"><%=  t('contactanos.title') %></li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</section><!--/#title-->    

		<section id="contact-page" class="gris">
			<div class="container">
				<div class="row">
				    <div class="col-sm-8">
				        <h4><%=  t('contactanos.form.title') %></h4>
				        <div class="status alert alert-success" style="display: none"></div>
				        <form 
				          action=mailto:zoraskiller@gmail.com
				          method="POST"
				          enctype="multipart/form-data"
				          name="EmailTestForm">

				        Your Name:<br>
				        <input type="text" size="20" name="VisitorName"><br><br>

				        Your Comment:<br>
				        <textarea name="VisitorComment" rows="4" cols="20">
				        </textarea><br><br>

				        <input type="submit" value="Email This Form">

				        </form>
				        <!--
				        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
				            <div class="row">
				                <div class="col-sm-5">
				                    <div class="form-group">
				                        <input type="text" class="form-control" required="required" placeholder="First Name">
				                    </div>
				                    <div class="form-group">
				                        <input type="text" class="form-control" required="required" placeholder="Last Name">
				                    </div>
				                    <div class="form-group">
				                        <input type="text" class="form-control" required="required" placeholder="Email address">
				                    </div>
				                    <div class="form-group">
				                        <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
				                    </div>
				                </div>
				                <div class="col-sm-7">
				                    <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
				                </div>
				            </div>
				        </form>
				    	-->
				    </div><!--/.col-sm-8-->
				</div>
			</div>		    
		</section><!--/#contact-page-->