		<section id="title" class="emerald">
		    <div class="container">
		        <div class="row">
		            <div class="col-sm-6">
		                <h1><%= t('trayectoria_laboral.title') %></h1>
		                <p><%= t('trayectoria_laboral.sub_title') %></p>
		            </div>
		            <div class="col-sm-6">
		                <ul class="breadcrumb pull-right">
		                    <li><%= link_to t('banner.home'), welcome_index_path %></li>
		                    <li class="active"><%= t('trayectoria_laboral.title') %></li>
		                    <li class="active"><%= t('trayectoria_laboral.area_13.title') %></li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</section><!--/#title--> 

		<section id="portfolio" class="gris">
			<div class="container">
			    <div class="row">
					<div class="col-sm-6">
						<h1><%= t('trayectoria_laboral.segmentacion.organizacional') %></h1>
						<p>
							<%= link_to t('trayectoria_laboral.area_10.title'), trayectoria_laboral_area_10_path, :class => "btn btn-default" %>
							<%= link_to t('trayectoria_laboral.area_11.title'), trayectoria_laboral_area_11_path, :class => "btn btn-default" %>
							<%= link_to t('trayectoria_laboral.area_12.title'), trayectoria_laboral_area_12_path, :class => "btn btn-default" %>
						</p>
					</div>
					<div class="col-sm-6">
						<h1><%= t('trayectoria_laboral.segmentacion.tecnologias') %></h1>
					    <p>
					        <%= link_to t('trayectoria_laboral.area_1.title'), trayectoria_laboral_trayectoria_laboral_path, :class => "btn btn-default" %>
					        <%= link_to t('trayectoria_laboral.area_2.title'), trayectoria_laboral_area_2_path, :class => "btn btn-default" %>
					        <%= link_to t('trayectoria_laboral.area_3.title'), trayectoria_laboral_area_3_path, :class => "btn btn-default" %>
					        <%= link_to t('trayectoria_laboral.area_4.title'), trayectoria_laboral_area_4_path, :class => "btn btn-default" %>
					        <%= link_to t('trayectoria_laboral.area_5.title'), trayectoria_laboral_area_5_path, :class => "btn btn-default" %>
					        <%= link_to t('trayectoria_laboral.area_6.title'), trayectoria_laboral_area_6_path, :class => "btn btn-default" %>
					        <%= link_to t('trayectoria_laboral.area_7.title'), trayectoria_laboral_area_7_path, :class => "btn btn-default" %>
					        <%= link_to t('trayectoria_laboral.area_8.title'), trayectoria_laboral_area_8_path, :class => "btn btn-default" %>
					        <%= link_to t('trayectoria_laboral.area_9.title'), trayectoria_laboral_area_9_path, :class => "btn btn-default" %>
					        <%= link_to t('trayectoria_laboral.area_13.title'), trayectoria_laboral_area_13_path, :class => "btn btn-default active" %>
					    </p><!--/#portfolio-filter-->
					</div>
			    </div>

			    <hr>

    		   	<div class="row">
                    <div class="col-sm-6">
                        <h1><%= t('trayectoria_laboral.area_13.title') %></h1>
                        <p><%= t('trayectoria_laboral.area_13.descripcion') %></p>
                    </div>
                    <div class="col-sm-6">
                        <h2><%= t('trayectoria_laboral.proyectos') %></h2>
                        <div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    <span><%= t('trayectoria_laboral.area_13.proyecto_1.title') %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</section><!--/#portfolio-->