    	<section id="title" class="emerald">
    	    <div class="container">
    	        <div class="row">
    	            <div class="col-sm-6">
    	                <h1><%= t('trayectoria_laboral.title') %></h1>
    	                <p><%= t('trayectoria_laboral.sub_title') %></p>
    	                <ul class="breadcrumb pull-left">
                            <li class="active"><%= t('trayectoria_laboral.sector_publico') %></li>
    	                    <li><%= link_to t('trayectoria_laboral.sector_privado'), trayectoria_laboral_trayectoria_laboral_path %></li>
    	                </ul>
    	            </div>
    	            <div class="col-sm-6">
    	                <ul class="breadcrumb pull-right">
    	                    <li><%= link_to t('banner.home'), welcome_index_path %></li>
    	                    <li><%= t('trayectoria_laboral.title') %></li>
    	                </ul>
    	            </div>
    	        </div>
    	    </div>
    	</section><!--/#title--> 


    	<section id="portfolio" class="gris">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2><%= t('trayectoria_laboral.segmentacion.organizacional') %></h2>
                        <ol>
                            <li><%= link_to t('trayectoria_laboral.area_11.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "11", :proyectos_size => 1), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_12.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "12", :proyectos_size => 2), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_10.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "10", :proyectos_size => 4), :class => "strong" %></li>
                        </ol>

                        <h2><%= t('trayectoria_laboral.segmentacion.tecnologias') %></h2>
                        <ol>
                            <li><%= link_to t('trayectoria_laboral.area_1.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 1),:class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_3.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "3", :proyectos_size => 2),:class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_4.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "4", :proyectos_size => 1),:class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_5.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "5", :proyectos_size => 1),:class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_6.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "6", :proyectos_size => 1),:class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_7.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "7", :proyectos_size => 1),:class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_8.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "8", :proyectos_size => 3),:class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_9.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "9", :proyectos_size => 1),:class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_13.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "13", :proyectos_size => 4),:class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_15.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "15", :proyectos_size => 3),:class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_16.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "16", :proyectos_size => 1),:class => "strong" %></li>
                        </ol><!--/#portfolio-filter-->
                    </div>
                    <div class="col-md-8">
                        <h2></h2>
                        <p align="justify"></p>

                        <hr>

                        <h2></h2>
                        <ol type="I"></ol>

                        
                    </div>
                </div>
            </div>
        </section><!--/#portfolio-->