    	<section id="title" class="emerald">
    	    <div class="container">
    	        <div class="row">
    	            <div class="col-sm-6">
    	                <h1><%= t('trayectoria_laboral.title') %></h1>
    	                <p><%= t('trayectoria_laboral.sub_title') %></p>
    	                <ul class="breadcrumb pull-left">
                            <li class="active"><%= t('trayectoria_laboral.sector_publico') %></li>
    	                    <li><%= link_to t('trayectoria_laboral.sector_privado'), trayectoria_laboral_trayectoria_laboral_path %></li>
    	                </ul>
    	            </div>
    	            <div class="col-sm-6">
    	                <ul class="breadcrumb pull-right">
    	                    <li><%= link_to t('banner.home'), welcome_index_path %></li>
    	                    <li><%= t('trayectoria_laboral.title') %></li>
    	                </ul>
    	            </div>
    	        </div>
    	    </div>
    	</section><!--/#title--> 


    	<section id="portfolio" class="gris">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2><%= t('trayectoria_laboral.segmentacion.organizacional') %></h2>
                        <ol>
                            <li><%= link_to t('trayectoria_laboral.area_11.title'), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_12.title'), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_10.title'), :class => "strong" %></li>
                        </ol>

                        <h2><%= t('trayectoria_laboral.segmentacion.tecnologias') %></h2>
                        <ol>
                            <li><%= link_to t('trayectoria_laboral.area_1.title'), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_3.title'), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_4.title'), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_5.title'), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_7.title'), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_8.title'), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_9.title'), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_13.title'), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_15.title'), :class => "strong" %></li>
                            <li><%= link_to t('trayectoria_laboral.area_16.title'), :class => "strong" %></li>
                        </ol><!--/#portfolio-filter-->
                    </div>
                    <div class="col-md-8">
                        <h2></h2>
                        <p align="justify"></p>

                        

                        <h2></h2>
                        <ol type="I"></ol>

                        
                    </div>
                </div>
            </div>
        </section><!--/#portfolio-->