    	<section id="title" class="emerald">
    	    <div class="container">
    	        <div class="row">
    	            <div class="col-sm-6">
    	                <h1><%= t('trayectoria_laboral.title') %></h1>
    	                <p><%= t('trayectoria_laboral.sub_title') %></p>
    	                <ul class="breadcrumb pull-left">
                            <li class="active"><%= t('trayectoria_laboral.sector_publico') %></li>
    	                    <li><%= link_to t('trayectoria_laboral.sector_privado'), trayectoria_laboral_trayectoria_laboral_path %></li>
    	                </ul>
    	            </div>
    	            <div class="col-sm-6">
    	                <ul class="breadcrumb pull-right">
    	                    <li><%= link_to t('banner.home'), welcome_index_path %></li>
    	                    <li><%= t('trayectoria_laboral.title') %></li>
    	                </ul>
    	            </div>
    	        </div>
    	    </div>
    	</section><!--/#title--> 


    	<section id="portfolio" class="gris">
    		<div class="container">
    		    <div class="row">
    				<div class="col-sm-6">
    					<h1><%= t('trayectoria_laboral.segmentacion.organizacional') %></h1>
    				</div>
    				<div class="col-sm-6">
    					<h1><%= t('trayectoria_laboral.segmentacion.tecnologias') %></h1>
    				</div>
    		    </div>

    		    <hr>


			   	<div class="row">
	                <div class="col-sm-6">
	                </div>
	                <div class="col-sm-6">
	                    <h2><%= t("trayectoria_laboral.proyectos") %></h2>
	                </div>
	            </div>

			</div>
		</section><!--/#portfolio-->