			   	<div class="row">
	                <div class="col-sm-6">
	                    <h1><%= t("trayectoria_laboral.area_#{@num_area}.title") %></h1>
	                    <p><%= t("trayectoria_laboral.area_#{@num_area}.descripcion") %></p>
	                </div>
	                <div class="col-sm-6">
	                    <h2><%= t("trayectoria_laboral.proyectos") %></h2>
	                    <div>
	                    	<% (1..@proyectos_size).each do |i| %>
		                        <div class="progress">
		                            <div class=<%= class_def(i) %> role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
		                                <span>
		                                	<%= 
		                                	link_to t("trayectoria_laboral.area_#{@num_area}.proyecto_#{i}.title"), trayectoria_laboral_proyecto_1_path(:num_area => @num_area, :num_proyecto => i)
		                                	%>
		                                </span>
		                            </div>
		                        </div>
		                    <% end %>
	                    </div>
	                </div>
	            </div>

			</div>
		</section><!--/#portfolio-->