        <section id="title" class="emerald">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1><%= t('trayectoria_laboral.title') %></h1>
                        <p><%= t('trayectoria_laboral.sub_title') %></p>
                    </div>
                    <div class="col-sm-6">
                        <ul class="breadcrumb pull-right">
                            <li><%= link_to t('banner.home'), welcome_index_path %></li>
                            <li><%= t('trayectoria_laboral.title') %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!--/#title--> 


        <section id="portfolio" class="gris">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2><%= t('trayectoria_laboral.segmentacion.organizacional') %></h2>
                        <ol>
                            <li><%= link_to t('contratanos.servicios.servicio_5.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "5", :proyectos_priv_size => "1"), :class => "strong" %></li>
                            <li><%= link_to t('contratanos.servicios.servicio_7.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "7", :proyectos_priv_size => "2"), :class => "strong" %></li>
                            <li><%= link_to t('contratanos.servicios.servicio_4.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "4", :proyectos_priv_size => "4"), :class => "strong" %></li>
                        </ol>

                        <h2><%= t('trayectoria_laboral.segmentacion.tecnologias') %></h2>
                        <ol>
                            <li><%= link_to t('contratanos.servicios.servicio_1.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "1", :proyectos_priv_size => "3"), :class => "strong" %></li>
                            <li><%= link_to t('contratanos.servicios.servicio_2.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "2", :proyectos_priv_size => "9"), :class => "strong" %></li>
                            <li><%= link_to t('contratanos.servicios.servicio_3.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "3", :proyectos_priv_size => "1"), :class => "strong" %></li>
                            <li><%= link_to t('contratanos.servicios.servicio_6.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "6", :proyectos_priv_size => "2"), :class => "strong" %></li>
                        </ol><!--/#portfolio-filter-->

                        <%= link_to image_tag("html/servicios/servicio_#{@num_servicio}.jpg"), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => @num_servicio, :proyectos_priv_size => @proyectos_priv_size), :class => 'img-responsive img-thumbnail' %>


                    </div> <!-- Menu Izquierdo -->
                    <div class="col-md-8">
                        <h2><%= t("contratanos.servicios.servicio_#{@num_servicio}.title") %></h2>
                        <p align="justify"><%= t("contratanos.servicios.servicio_#{@num_servicio}.descripcion") %></p>

                        <hr>

                        <h2><%= t('trayectoria_laboral.proyectos') %></h2>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                        <%= t("contratanos.servicios.privado") %> <i class="icon-angle-down"></i>
                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseOne1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ol type="I">
                                            <% (1..@proyectos_priv_size).each do |i| %>
                                                <li><%= t("contratanos.servicios.servicio_#{@num_servicio}.proyecto_#{i}.title") %></li>
                                            <% end %>
                                        </ol>
                                    </div>
                                  </div>
                                </div>
                            </div>             
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                                        <%= t("contratanos.servicios.publico") %> <i class="icon-angle-down"></i>
                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseOne2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <%= t('contratanos.servicios.none') %>
                                    </div>
                                  </div>
                                </div>
                            </div>      
                        </div>     
                    </div>
                </div>
            </div>
        </section><!--/#portfolio-->