    	<section id="title" class="emerald">
    	    <div class="container">
    	        <div class="row">
    	            <div class="col-sm-6">
    	                <h1><%= t('trayectoria_laboral.title') %></h1>
    	                <p><%= t('trayectoria_laboral.sub_title') %></p>
    	                <ul class="breadcrumb pull-left">
    	                    <li><%= link_to t('trayectoria_laboral.sector_publico'), trayectoria_laboral_sector_publico_path %></li>
    	                    <li><%= t('trayectoria_laboral.sector_privado') %></li>
    	                </ul>
    	            </div>
    	            <div class="col-sm-6">
    	                <ul class="breadcrumb pull-right">
    	                    <li><%= link_to t('banner.home'), welcome_index_path %></li>
    	                    <li><%= t('trayectoria_laboral.title') %></li>
    	                </ul>
    	            </div>
    	        </div>
    	    </div>
    	</section><!--/#title--> 


    	<section id="portfolio" class="gris">
    		<div class="container">
    		    <div class="row">
    				<div class="col-sm-6">
    					<h1><%= t('trayectoria_laboral.segmentacion.organizacional') %></h1>
    					<p>
    						<%= link_to t('trayectoria_laboral.area_10.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 4), :class => "btn btn-default" %>
    						<%= link_to t('trayectoria_laboral.area_11.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 1), :class => "btn btn-default" %>
    						<%= link_to t('trayectoria_laboral.area_12.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 2), :class => "btn btn-default" %>
    					</p>
    				</div>
    				<div class="col-sm-6">
    					<h1><%= t('trayectoria_laboral.segmentacion.tecnologias') %></h1>
    				    <p>
    				        <%= link_to t('trayectoria_laboral.area_1.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 1), :class => "btn btn-default" %>
    				        <%= link_to t('trayectoria_laboral.area_2.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 2), :class => "btn btn-default" %>
    				        <%= link_to t('trayectoria_laboral.area_3.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 2), :class => "btn btn-default" %>
    				        <%= link_to t('trayectoria_laboral.area_4.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 1), :class => "btn btn-default" %>
    				        <%= link_to t('trayectoria_laboral.area_5.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 1), :class => "btn btn-default" %>
    				        <%= link_to t('trayectoria_laboral.area_6.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 1), :class => "btn btn-default" %>
    				        <%= link_to t('trayectoria_laboral.area_7.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 1), :class => "btn btn-default" %>
    				        <%= link_to t('trayectoria_laboral.area_8.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 3), :class => "btn btn-default" %>
    				        <%= link_to t('trayectoria_laboral.area_9.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 1), :class => "btn btn-default" %>
    				        <%= link_to t('trayectoria_laboral.area_13.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 4), :class => "btn btn-default" %>
    				        <%= link_to t('trayectoria_laboral.area_15.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 3), :class => "btn btn-default" %>
    				        <%= link_to t('trayectoria_laboral.area_16.title'), trayectoria_laboral_trayectoria_laboral_path(:num_area => "1", :proyectos_size => 1), :class => "btn btn-default" %>
    				    </p><!--/#portfolio-filter-->
    				</div>
    		    </div>

    		    <hr>


			   	<div class="row">
	                <div class="col-sm-6">
	                    <h1><%= t("trayectoria_laboral.area_#{@num_area}.title") %></h1>
	                    <p><%= t("trayectoria_laboral.area_#{@num_area}.descripcion") %></p>
	                </div>
	                <div class="col-sm-6">
	                    <h2><%= t("trayectoria_laboral.proyectos") %></h2>
	                    <div>
	                    	<% (1..@proyectos_size).each do |i| %>
		                        <div class="progress">
		                            <div class="<%= class_def(i) %>" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
		                                <span>
		                                	<%= 
		                                	link_to t("trayectoria_laboral.area_#{@num_area}.proyecto_#{i}.title"), trayectoria_laboral_proyectos_path(:num_area => @num_area, :num_proyecto => i)
		                                	%>
		                                </span>
		                            </div>
		                        </div>
		                    <% end %>
	                    </div>
	                </div>
	            </div>

			</div>
		</section><!--/#portfolio-->