        <section id="title" class="emerald">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1><%= t('trayectoria_laboral.title') %></h1>
                        <p><%= t('trayectoria_laboral.sub_title') %></p>
                        <ul class="breadcrumb pull-left">
                            <li><%= link_to t('trayectoria_laboral.sector_publico'), trayectoria_laboral_sector_publico_path %></li>
                            <li class="active"><%= t('trayectoria_laboral.sector_privado') %></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="breadcrumb pull-right">
                            <li><%= link_to t('banner.home'), welcome_index_path %></li>
                            <li><%= t('trayectoria_laboral.title') %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!--/#title--> 


        <section id="portfolio" class="gris">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2><%= t('trayectoria_laboral.segmentacion.organizacional') %></h2>
                        <ol>
                            <li><%= link_to t('contratanos.servicios.servicio_5.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "5", :proyectos_size => "1"), :class => "strong" %></li>
                            <li><%= link_to t('contratanos.servicios.servicio_7.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "7", :proyectos_size => "2"), :class => "strong" %></li>
                            <li><%= link_to t('contratanos.servicios.servicio_4.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "4", :proyectos_size => "4"), :class => "strong" %></li>
                        </ol>

                        <h2><%= t('trayectoria_laboral.segmentacion.tecnologias') %></h2>
                        <ol>
                            <li><%= link_to t('contratanos.servicios.servicio_1.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "1", :proyectos_size => "3"), :class => "strong" %></li>
                            <li><%= link_to t('contratanos.servicios.servicio_2.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "2", :proyectos_size => "9"), :class => "strong" %></li>
                            <li><%= link_to t('contratanos.servicios.servicio_3.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "3", :proyectos_size => "1"), :class => "strong" %></li>
                            <li><%= link_to t('contratanos.servicios.servicio_6.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "6", :proyectos_size => "2"), :class => "strong" %></li>
                        </ol><!--/#portfolio-filter-->
                    </div> <!-- Menu Izquierdo -->
                    <div class="col-md-8">
                        <h2><%= t("contratanos.servicios.servicio_#{@num_servicio}.title") %></h2>
                        <p align="justify"><%= t("contratanos.servicios.servicio_#{@num_servicio}.descripcion") %></p>

                        <hr>

                        <div class="row">
                            <div class="col-md-4">
                                <h2><%= t("contratanos.servicios.privado") %></h2>
                                <ol type="I">
                                    <% (1..@proyectos_size).each do |i| %>
                                        <li><%= t("contratanos.servicios.servicio_#{@num_servicio}.proyecto_#{i}.title") %></li>
                                    <% end %>
                                </ol>
                            </div>             
                            <div class="col-md-4">
                                <h2><%= t("contratanos.servicios.publico") %></h2>
                                <ol type="I">
                                    <% (1..@proyectos_size).each do |i| %>
                                        <li><%= t("contratanos.servicios.servicio_#{@num_servicio}.proyecto_#{i}.title") %></li>
                                    <% end %>
                                </ol>
                            </div>      
                        </div>     
                    </div>
                </div>
            </div>
        </section><!--/#portfolio-->