<section id="main-slider" class="no-margin">
    <div class="carousel slide wet-asphalt">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
            <li data-target="#main-slider" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(<%= asset_path 'slider/bg4.jpg' %>)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="animation animated-item-1" style="margin-top: 30.5px;"><%= t('welcome.imagen_4.title') %></h2>
                                <p class=" animation animated-item-2" align="justify"><%= t('welcome.imagen_4.descripcion_1') %></p>
                                <p class=" animation animated-item-2" align="justify"><%= t('welcome.imagen_4.descripcion_2') %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(<%= asset_path 'slider/bg1.jpg' %>)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="animation animated-item-1" style="margin-top: 102.5px;"><%= t('welcome.imagen_1.title') %></h2>
                                <p class="animation animated-item-2"><%= t('welcome.imagen_1.descripcion') %></p>
                                <br>
                                <%= link_to t('welcome.imagen_1.link'), trayectoria_laboral_trayectoria_laboral_path(:area => "1", :num_servicio => "1", :proyectos_priv_size => "3"), :class => "btn btn-md animation animated-item-3" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(<%= asset_path 'slider/bg2.jpg' %>)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="animation animated-item-1" style="margin-top: 102.5px;"><%= t('welcome.imagen_2.title') %></h2>
                                <p class="animation animated-item-2"><%= t('welcome.imagen_2.descripcion') %></p>
                                <br>
                                <%= link_to t('welcome.imagen_2.link'), trayectoria_laboral_trayectoria_laboral_path(:area => "1", :num_servicio => "1", :proyectos_priv_size => "3"), :class => "btn btn-md animation animated-item-3" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(<%= asset_path 'slider/bg3.jpg' %>)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="animation animated-item-1" style="margin-top: 102.5px;"><%= t('welcome.imagen_3.title') %></h2>
                                <p class="animation animated-item-2"><%= t('welcome.imagen_3.descripcion') %></p>
                                <br>
                                <%= link_to t('welcome.imagen_3.link'), trayectoria_laboral_trayectoria_laboral_path(:area => "1", :num_servicio => "1", :proyectos_priv_size => "3"), :class => "btn btn-md animation animated-item-3" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="icon-angle-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="icon-angle-right"></i>
    </a>
</section><!--/#main-slider-->


<section id="services" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <%= link_to image_tag('slider/ico1.png'), trayectoria_laboral_trayectoria_laboral_path(:area => "1", :num_servicio => "1", :proyectos_priv_size => "3") %>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><%= t('welcome.resumen_1.title') %></h3>
                        <p align="justify"><%= t('welcome.resumen_1.descripcion') %></p>
                        <p><%= link_to t('welcome.resumen_1.link'), trayectoria_laboral_trayectoria_laboral_path(:area => "1", :num_servicio => "1", :proyectos_priv_size => "3") %></p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <%= link_to image_tag('slider/ico2.png'), trayectoria_laboral_trayectoria_laboral_path(:area => "1", :num_servicio => "1", :proyectos_priv_size => "3") %>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><%= t('welcome.resumen_2.title') %></h3>
                        <p align="justify"><%= t('welcome.resumen_2.descripcion') %></p>
                        <p><%= link_to t('welcome.resumen_2.link'), trayectoria_laboral_trayectoria_laboral_path(:area => "1", :num_servicio => "1", :proyectos_priv_size => "3") %></p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <%= link_to image_tag('slider/ico3.png'), contactanos_contactanos_path %>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><%= t('welcome.resumen_3.title') %></h3>
                        <p align="justify"><%= t('welcome.resumen_3.descripcion') %></p>
                        <p><%= link_to t('welcome.resumen_3.link'), contactanos_contactanos_path %></p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
        </div>
    </div>
</section><!--/#services-->

<section class="emerald">
    <div class="container"></div>
</section>