		<section id="title" class="emerald">
		    <div class="container">
		        <div class="row">
		            <div class="col-sm-6">
		                <h1><%=  t('mapa_del_sitio.title') %></h1>
		                <p><%=  t('mapa_del_sitio.sub_title') %></p>
		            </div>
		            <div class="col-sm-6">
		                <ul class="breadcrumb pull-right">
		                	<li><%=  link_to t('banner.home'), welcome_index_path %></li>
		                	<li class="active"><%=  t('mapa_del_sitio.title') %></li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</section><!--/#title--> 

		<section class="gris">
			<div class="container">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h4 class="panel-title"> <!-- Titulo del Inicio -->
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
				        <%= t('banner.home') %> <i class="icon-angle-down"></i>
				      </a>
				    </h4>
				  </div>
				  <div id="collapseOne1" class="panel-collapse collapse">
				    <div class="panel-body"> <!-- Cuerpo del Inicio -->
				        <div class="panel panel-default">
				          <div class="panel-heading">
				            <h4 class="panel-title"> <!-- Titulo de los Fundamentos Institucionales -->
				              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
				                <%= t('banner.funda_institu.title') %> <i class="icon-angle-down"></i>
				              </a>
				            </h4>
				          </div>
				          <div id="collapseOne2" class="panel-collapse collapse">
				            <div class="panel-body"> <!-- Cuerpo de los Fundamentos Institucionales -->
				            	<ul>
					                <li><%= t('banner.funda_institu.objetivos') %></li>
					                <li><%= t('banner.funda_institu.mision') %></li>
					                <li><%= t('banner.funda_institu.vision') %></li>
					                <li><%= t('banner.funda_institu.valores') %></li>
					            </ul>
				            </div>
				          </div>
				        </div>

				        <div class="panel panel-default">
				          <div class="panel-heading">
				            <h4 class="panel-title"> <!-- Titulo de Quienes Somos -->
				              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3">
				                <%= t('banner.sobre_nosotros.title') %> <i class="icon-angle-down"></i>
				              </a>
				            </h4>
				          </div>
				          <div id="collapseOne3" class="panel-collapse collapse">
				            <div class="panel-body"> <!-- Cuerpo de Quienes Somos -->
				            	<ul>
				                	<li><%= t('banner.sobre_nosotros.historia') %></li>
					                <li><div class="panel panel-default">
					                  <div class="panel-heading">
					                    <h4 class="panel-title"> <!-- Titulo de Miembros -->
					                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseOne4">
					                        <%= t('banner.sobre_nosotros.miembros') %> <i class="icon-angle-down"></i>
					                      </a>
					                    </h4>
					                  </div>
					                  <div id="collapseOne4" class="panel-collapse collapse">
					                    <div class="panel-body"> <!-- Cuerpo de Miembros -->
					                    	<ul>
						                        <li><%= t('sobre_nosotros.miembros.miembro_1.nombre') %></li>
						                        <li><%= t('sobre_nosotros.miembros.miembro_2.nombre') %></li>
					                    	</ul>
					                    </div>
					                  </div>
					                </div></li>
					            </ul>
				            </div>
				          </div>
				        </div>



				    </div>
				  </div>
				</div>
			</div>
		</section>