		<section id="title" class="emerald">
		    <div class="container">
		        <div class="row">
		            <div class="col-sm-6">
		                <h1><%= t('contratanos.title') %></h1>
		                <p><%= t('contratanos.sub_title') %></p>
		            </div>
		            <div class="col-sm-6">
		                <ul class="breadcrumb pull-right">
		                    <li><%= link_to t('banner.home'), welcome_index_path %></li>
		                    <li class="active"><%= t('contratanos.title') %></li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</section><!--/#title-->     

		<section id="datos_contacto" class="gris">
		    <div class="container">
		    	<div id="servicios" class="row">
		    		<div class="col-md-4">
		    			<h2><%= t('contratanos.title') %></h2>
		    			<ol>
		    				<% (1..9).each do |i| %>
                        		<li><%= link_to t("contratanos.servicios.servicio_#{i}.title"), contratanos_contratanos_path(:num_service => "#{i}"), :class => "strong" %></li>
	                        <% end %>
		    			</ol>
		    		</div>
		            <div class="col-md-8">
		                <div class="center gap">
		                    <h2><%= t("contratanos.servicios.servicio_#{@num_service}.title") %></h2>
		                    <p align="justify"><%= t("contratanos.servicios.servicio_#{@num_service}.descripcion") %></p>

		                    <hr>

		                    <h2><%= t("contratanos.servicios.proyectos_relacionados") %></h2>

		                    <ol type="I">
		                    	<% (1..@proyectos).each do |i| %>
                                	<li><%= t("contratanos.servicios.servicio_#{@num_service}.proyecto_#{@i}") %></li>
                                <% end %>
                        	</ol> 

		                </div>                
		            </div>
		        </div>
		    </div>
		</section><!--/#services-->