		<section id="title" class="emerald">
		    <div class="container">
		        <div class="row">
		            <div class="col-sm-6">
		                <h1><%= t('contratanos.title') %></h1>
		                <p><%= t('contratanos.sub_title') %></p>
		            </div>
		            <div class="col-sm-6">
		                <ul class="breadcrumb pull-right">
		                    <li><%= link_to t('banner.home'), welcome_index_path %></li>
		                    <li class="active"><%= t('contratanos.title') %></li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</section><!--/#title-->     

		<section id="datos_contacto" class="gris">
		    <div class="container">
		    	<div id="servicios" class="row">
		            <div class="col-md-12">
		                <div class="center gap">
		                    <h2><%= t("trayectoria_laboral.area_#{@num_area}.title") %></h2>
                        	<p align="justify"><%= t("trayectoria_laboral.area_#{@num_area}.descripcion") %></p>

		                    <hr>

		                </div>                
		            </div>
		        </div>
		    </div>
		</section><!--/#services-->