        <section id="title" class="emerald">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h1><%= t('funda_institu.title') %></h1>
                <p><%= t('funda_institu.sub_title') %></p>
                <ul class="breadcrumb pull-left">
                  <% if @nombre == "objetivos" %>
                      <li class="active"><%= t('funda_institu.objetivos.title') %></li>
                      <li><%= link_to t('banner.funda_institu.mision'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "mision") %></li>
                      <li><%= link_to t('banner.funda_institu.vision'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "vision") %></li>
                      <li><%= link_to t('banner.funda_institu.valores'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "valores") %></li>
                  <% elsif @nombre == "mision" %>
                      <li><%= link_to t('banner.funda_institu.objetivos'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "objetivos") %></li>
                      <li class="active"><%= t('banner.funda_institu.mision') %></li>
                      <li><%= link_to t('banner.funda_institu.vision'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "vision") %></li>
                      <li><%= link_to t('banner.funda_institu.valores'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "valores") %></li>
                  <% elsif @nombre == "vision" %>
                      <li><%= link_to t('banner.funda_institu.objetivos'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "objetivos") %></li>
                      <li><%= link_to t('banner.funda_institu.mision'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "mision") %></li>
                      <li class="active"><%= t('banner.funda_institu.vision') %></li>
                      <li><%= link_to t('banner.funda_institu.valores'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "valores") %></li>
                  <% elsif @nombre == "valores" %>
                      <li><%= link_to t('banner.funda_institu.objetivos'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "objetivos") %></li>
                      <li><%= link_to t('banner.funda_institu.mision'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "mision") %></li>
                      <li><%= link_to t('banner.funda_institu.vision'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "vision") %></li>
                      <li class="active"><%= t('banner.funda_institu.valores') %></li>
                  <% end %>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                  <li><%= link_to t('banner.home'), welcome_index_path %></li>
                  <li class="active"><%= t('funda_institu.title') %></li>
                </ul>
              </div>
            </div>
          </div>
        </section><!--/#title-->     

        <section id="career" class="gris">
          <div class="container">
            <div class="center">
              <h2><%= t("funda_institu.#{@nombre}.title") %></h2>
            </div>

            <p align="justify"><%= t("funda_institu.#{@nombre}.descripcion_1") %></p>

            <hr>

            <div class="carousel slide wet-asphalt">
                <ol class="carousel-indicators">
                    <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slider" data-slide-to="1"></li>
                    <li data-target="#main-slider" data-slide-to="2"></li>
                    <li data-target="#main-slider" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active" style="background-image: url(<%= asset_path 'slider/bg4.jpg' %>)">
                    </div><!--/.item-->
                    <div class="item" style="background-image: url(<%= asset_path 'slider/bg1.jpg' %>)">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="carousel-content center centered">
                                        <h2 class="animation animated-item-1" style="margin-top: 102.5px;"><%= t('welcome.imagen_1.title') %></h2>
                                        <p class="animation animated-item-2"><%= t('welcome.imagen_1.descripcion') %></p>
                                        <br>
                                        <%= link_to t('welcome.imagen_1.link'), trayectoria_laboral_trayectoria_laboral_path, :class => "btn btn-md animation animated-item-3" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.item-->
                    <div class="item" style="background-image: url(<%= asset_path 'slider/bg2.jpg' %>)">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="carousel-content center centered">
                                        <h2 class="animation animated-item-1" style="margin-top: 102.5px;"><%= t('welcome.imagen_2.title') %></h2>
                                        <p class="animation animated-item-2"><%= t('welcome.imagen_2.descripcion') %></p>
                                        <br>
                                        <%= link_to t('welcome.imagen_2.link'), trayectoria_laboral_sector_publico_path, :class => "btn btn-md animation animated-item-3" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.item-->
                    <div class="item" style="background-image: url(<%= asset_path 'slider/bg3.jpg' %>)">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="carousel-content center centered">
                                        <h2 class="animation animated-item-1" style="margin-top: 102.5px;"><%= t('welcome.imagen_3.title') %></h2>
                                        <p class="animation animated-item-2"><%= t('welcome.imagen_3.descripcion') %></p>
                                        <br>
                                        <%= link_to t('welcome.imagen_3.link'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "1", :proyectos_priv_size => 1), :class => "btn btn-md animation animated-item-3" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.item-->
                </div><!--/.carousel-inner-->
            </div><!--/.carousel-->

          </div>
        </section><!-- /fundamentos_institucionales -->