        <section id="title" class="emerald">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h1><%= t('funda_institu.title') %></h1>
                <p><%= t('funda_institu.sub_title') %></p>
              </div>
              <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                  <li><%= link_to t('banner.home'), welcome_index_path %></li>
                  <li class="active"><%= t('funda_institu.title') %></li>
                </ul>
              </div>
            </div>
          </div>
        </section><!--/#title-->     

        <section id="career" class="container gris">
          <div class="center">
            <h2><%= t('funda_institu.objetivos.title') %></h2>
            <p><%= t('funda_institu.objetivos.sub_title') %></p>
          </div>
          <hr>

          <p><%= t('funda_institu.objetivos.descripcion_1') %></p>

          <hr>

          <div class="row">
            <div class="col-sm-4">
              <h4><%= t('funda_institu.mision.title') %></h4>
              <p><%= t('funda_institu.mision.descripcion') %></p>
              <div class="panel-group" id="accordion1">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                        <%= t('funda_institu.mision.elemento_1.title') %>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne1" class="panel-collapse collapse">
                    <div class="panel-body">
                      <%= t('funda_institu.mision.elemento_1.descripcion') %>
                    </div>
                  </div>
                </div> <!-- elemento 1 -->
              </div><!--/#accordion1-->
            </div><!--/.col-sm-4-->

            <div class="col-sm-4">
              <h4><%= t('funda_institu.vision.title') %></h4>
              <p><%= t('funda_institu.vision.descripcion') %></p>
              <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                        <%= t('funda_institu.vision.elemento_1.title') %>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <%= t('funda_institu.vision.elemento_1.descripcion') %>
                    </div>
                  </div>
                </div> <!-- elemento 1 -->
              </div><!--/#accordion2-->
            </div><!--/.col-sm-4-->

            <div class="col-sm-4">
              <h4><%= t('funda_institu.valores.title') %></h4>
              <p><%= t('funda_institu.valores.descripcion') %></p>
              <div class="panel-group" id="accordion3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3">
                        <%= t('funda_institu.valores.elemento_1.title') %>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne3" class="panel-collapse collapse">
                    <div class="panel-body">
                      <%= t('funda_institu.valores.elemento_1.descripcion') %>
                    </div>
                  </div>
                </div> <!-- elemento 1 -->
              </div><!--/#accordion3-->
            </div><!--/.col-sm-4-->
          </div>
        </section><!-- /fundamentos_institucionales -->