        <section id="title" class="emerald">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h1><%= t('funda_institu.title') %></h1>
                <p><%= t('funda_institu.sub_title') %></p>
                <ul class="breadcrumb pull-left">
                  <% if @nombre == "objetivos" %>
                      <li class="active"><%= t('funda_institu.objetivos.title') %></li>
                      <li><%= link_to t('banner.funda_institu.mision'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "mision") %></li>
                      <li><%= link_to t('banner.funda_institu.vision'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "vision") %></li>
                      <li><%= link_to t('banner.funda_institu.valores'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "valores") %></li>
                  <% elsif @nombre == "mision" %>
                      <li><%= link_to t('banner.funda_institu.objetivos'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "objetivos") %></li>
                      <li class="active"><%= t('banner.funda_institu.mision') %></li>
                      <li><%= link_to t('banner.funda_institu.vision'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "vision") %></li>
                      <li><%= link_to t('banner.funda_institu.valores'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "valores") %></li>
                  <% elsif @nombre == "vision" %>
                      <li><%= link_to t('banner.funda_institu.objetivos'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "objetivos") %></li>
                      <li><%= link_to t('banner.funda_institu.mision'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "mision") %></li>
                      <li class="active"><%= t('banner.funda_institu.vision') %></li>
                      <li><%= link_to t('banner.funda_institu.valores'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "valores") %></li>
                  <% elsif @nombre == "valores" %>
                      <li><%= link_to t('banner.funda_institu.objetivos'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "objetivos") %></li>
                      <li><%= link_to t('banner.funda_institu.mision'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "mision") %></li>
                      <li><%= link_to t('banner.funda_institu.vision'), fundamentos_institucionales_fundamentos_institucionales_path(:nombre => "vision") %></li>
                      <li class="active"><%= t('banner.funda_institu.valores') %></li>
                  <% end %>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                  <li><%= link_to t('banner.home'), welcome_index_path %></li>
                  <li class="active"><%= t('funda_institu.title') %></li>
                </ul>
              </div>
            </div>
          </div>
        </section><!--/#title-->     

        <section id="career" class="gris">
          <div class="container">
            <div class="center">
              <h2><%= t("funda_institu.#{@nombre}.title") %></h2>
            </div>

            <p align="justify"><%= t("funda_institu.#{@nombre}.descripcion_1") %></p>

            <hr>

            <section id="main-slider" class="no-margin">
                <div class="carousel slide wet-asphalt">
                  <% if @nombre == "objetivos" %>
                    <ol class="carousel-indicators">
                        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#main-slider" data-slide-to="1"></li>
                        <li data-target="#main-slider" data-slide-to="2"></li>
                        <li data-target="#main-slider" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen1.jpg' %>)">
                        </div><!--/.item-->
                        <div class="item" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen2.jpg' %>)">
                        </div><!--/.item-->
                        <div class="item" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen3.jpg' %>)">
                        </div><!--/.item-->
                        <div class="item" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen4.jpg' %>)">
                        </div><!--/.item-->
                    </div><!--/.carousel-inner-->
                  <% elsif @nombre == "mision" %>
                    <ol class="carousel-indicators">
                      <li data-target="#main-slider" data-slide-to="0"></li>
                      <li data-target="#main-slider" data-slide-to="1" class="active"></li>
                      <li data-target="#main-slider" data-slide-to="2"></li>
                      <li data-target="#main-slider" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen1.jpg' %>)">
                        </div><!--/.item-->
                        <div class="item active" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen2.jpg' %>)">
                        </div><!--/.item-->
                        <div class="item" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen3.jpg' %>)">
                        </div><!--/.item-->
                        <div class="item" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen4.jpg' %>)">
                        </div><!--/.item-->
                    </div><!--/.carousel-inner-->
                  <% elsif @nombre == "vision" %>
                    <ol class="carousel-indicators">
                      <li data-target="#main-slider" data-slide-to="0"></li>
                      <li data-target="#main-slider" data-slide-to="1"></li>
                      <li data-target="#main-slider" data-slide-to="2" class="active"></li>
                      <li data-target="#main-slider" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen1.jpg' %>)">
                        </div><!--/.item-->
                        <div class="item" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen2.jpg' %>)">
                        </div><!--/.item-->
                        <div class="item active" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen3.jpg' %>)">
                        </div><!--/.item-->
                        <div class="item" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen4.jpg' %>)">
                        </div><!--/.item-->
                    </div><!--/.carousel-inner-->
                  <% elsif @nombre == "valores" %>
                    <ol class="carousel-indicators">
                      <li data-target="#main-slider" data-slide-to="0"></li>
                      <li data-target="#main-slider" data-slide-to="1"></li>
                      <li data-target="#main-slider" data-slide-to="2"></li>
                      <li data-target="#main-slider" data-slide-to="3" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen1.jpg' %>)">
                        </div><!--/.item-->
                        <div class="item" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen2.jpg' %>)">
                        </div><!--/.item-->
                        <div class="item" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen3.jpg' %>)">
                        </div><!--/.item-->
                        <div class="item active" style="background-image: url(<%= asset_path 'html/slider/fundamentos/imagen4.jpg' %>)">
                        </div><!--/.item-->
                    </div><!--/.carousel-inner-->
                  <% end %>
                </div><!--/.carousel-->
                <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
                    <i class="icon-angle-left"></i>
                </a>
                <a class="next hidden-xs" href="#main-slider" data-slide="next">
                    <i class="icon-angle-right"></i>
                </a>
            </section><!--/#main-slider-->
            
          </div>
        </section><!-- /fundamentos_institucionales -->

        <section id="career" class="gris">
          <div class="container">

            <hr>

          </div>
        </section>