        <section id="title" class="emerald">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h1><%= t('funda_institu.title') %></h1>
                <p><%= t('funda_institu.sub_title') %></p>
                <ul class="breadcrumb pull-left">
                  <li class="active"><%= t('funda_institu.objetivos.title') %></li>
                  <li><%= link_to t('funda_institu.mision.title'), fundamentos_institucionales_mision_path %></li>
                  <li><%= link_to t('funda_institu.vision.title'), fundamentos_institucionales_vision_path %></li>
                  <li><%= link_to t('funda_institu.valores.title'), fundamentos_institucionales_valores_path %></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                  <li><%= link_to t('banner.home'), welcome_index_path %></li>
                  <li class="active"><%= t('funda_institu.title') %></li>
                </ul>
              </div>
            </div>
          </div>
        </section><!--/#title-->     

        <section id="career" class="gris">
          <div class="container">
            <div class="center">
              <h2><%= t('funda_institu.objetivos.title') %></h2>
            </div>

            <p align="justify"><%= t('funda_institu.objetivos.descripcion_1') %></p>

            <hr>

          </div>
        </section><!-- /fundamentos_institucionales -->