        <section id="title" class="emerald">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h1><%= t('funda_institu.title') %></h1>
                <p><%= t('funda_institu.sub_title') %></p>
              </div>
              <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                  <li><%= link_to t('banner.home'), welcome_index_path %></li>
                  <li class="active"><%= t('funda_institu.title') %></li>
                </ul>
              </div>
            </div>
          </div>
        </section><!--/#title-->     

        <section id="career" class="gris">
          <div class="container">
            <div class="center">
              <h2><%= t('funda_institu.mision.title') %></h2>
            </div>

            <p><%= t('funda_institu.mision.descripcion_1') %></p>

            <hr>

          </div>
        </section><!-- /fundamentos_institucionales -->