<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="Página empresarial de consultoria">
	    <meta name="author" content="Esteban Gaete Flores">
	    <title><%= t('banner.home') %> | <%= t('banner.title') %></title>
	    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
	    <![endif]--> 
	    <%= favicon_link_tag 'ico/favicon.ico', rel: 'shortcut icon' %>
	    <%= favicon_link_tag 'ico/apple-touch-icon-144-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '144x144', type: 'image/png' %>
	    <%= favicon_link_tag 'ico/apple-touch-icon-114-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '114x114', type: 'image/png' %>
	    <%= favicon_link_tag 'ico/apple-touch-icon-72-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '72x72', type: 'image/png' %>
	    <%= favicon_link_tag 'ico/apple-touch-icon-57-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head><!--/head-->  


	<body>
		<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
	        <div class="container">

	            <div class="navbar-header">
	            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            	    <span class="sr-only">Toggle navigation</span>
	            	    <span class="icon-bar"></span>
	            	    <span class="icon-bar"></span>
	            	    <span class="icon-bar"></span>
	            	</button>
	                <%= link_to image_tag('logo.png'), welcome_index_path, :class => 'navbar-brand' %>
	            </div>

	            <div class="collapse navbar-collapse">
	                <ul class="sf-menu nav navbar-nav navbar-right">
	                    <li><%= link_to t('banner.home'), welcome_index_path %></li>

	                    <li>
	                        <%= link_to t('banner.funda_institu.title'), fundamentos_institucionales_fundamentos_institucionales_path %>
	                        <ul class="dropdown-menu">
	                            <li><%= link_to t('banner.funda_institu.objetivos'), fundamentos_institucionales_fundamentos_institucionales_path %></li>
	                            <li><%= link_to t('banner.funda_institu.mision'), fundamentos_institucionales_mision_path %></li>
	                            <li><%= link_to t('banner.funda_institu.vision'), fundamentos_institucionales_vision_path %></li>
	                            <li><%= link_to t('banner.funda_institu.valores'), fundamentos_institucionales_valores_path %></li>
	                        </ul>
	                    </li>

	                    <li>
	                        <%= link_to t('banner.sobre_nosotros.title'), sobre_nosotros_sobre_nosotros_path %>
	                        <ul class="dropdown-menu">
	                            <li><%= link_to t('banner.sobre_nosotros.historia'), sobre_nosotros_sobre_nosotros_path %></li>
	                            <li><%= link_to t('banner.sobre_nosotros.miembros'), sobre_nosotros_miembros_path %></li>
	                        </ul>
	                    </li>

	                    <li>
	                        <%= link_to t('banner.trayec_laboral.title'), trayectoria_laboral_sector_publico_path %>
	                        <ul class="dropdown-menu">
	                            <li><%= link_to t('contratanos.servicios.servicio_1.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "1", :proyectos_size => "3") %></li>
	                            <li><%= link_to t('contratanos.servicios.servicio_2.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "2", :proyectos_size => "9") %></li>
	                            <li><%= link_to t('contratanos.servicios.servicio_3.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "3", :proyectos_size => "1") %></li>
	                            <li><%= link_to t('contratanos.servicios.servicio_4.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "4", :proyectos_size => "4") %></li>
	                            <li><%= link_to t('contratanos.servicios.servicio_5.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "5", :proyectos_size => "1") %></li>
	                            <li><%= link_to t('contratanos.servicios.servicio_6.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "6", :proyectos_size => "2") %></li>
	                            <li><%= link_to t('contratanos.servicios.servicio_7.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "7", :proyectos_size => "2") %></li>
	                        </ul>
	                    </li>
	                    
	                    <li><%= link_to t('banner.contactanos'), contactanos_contactanos_path %></li>
	                </ul>
	            </div>

	        </div>
	    </header><!--/header-->


		<%= yield %>


	    <footer id="footer" class="midnight-blue">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-6 firma">
	                    <a class ="firma" target="_blank" href="https://www.linkedin.com/in/estebangaeteflores" title="Perfil Profesional de LinkedIn">Creada en 2014 - Por Esteban Gaete Flores. Licencia GNU GPL V2.0.</a>
	                </div>
	                <div class="col-sm-6">
	                    <ul class="pull-right">
	                        <li><%= link_to t('banner.home'), welcome_index_path %></li>
	                        <li><%= link_to t('banner.contactanos'), contactanos_contactanos_path %></li>
	                        <li><%= link_to t('banner.contratanos.title'), trayectoria_laboral_trayectoria_laboral_path(:num_servicio => "1", :proyectos_size => "1") %></li>
	                        <li><%= link_to t('banner.mapa_sitio'), welcome_mapa_del_sitio_path %></li>
	                        <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </footer><!--/#footer-->

	    <script>

	    	jQuery(document).ready(function() {
	    		jQuery('ul.sf-menu').superfish({
	    			delay:       1000,                            // one second delay on mouseout
	    			animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation
	    			speed:       'fast',                          // faster animation speed
	    		});
	    	});

	    </script>
	</body><!--/body--> 
</html>