<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <title><%= t('banner.home') %> | <%= t('banner.title') %></title>
	    <link href="bootstrap.min.css" rel="stylesheet">
	    <link href="font-awesome.min.css.scss" rel="stylesheet">
	    <link href="prettyPhoto.css.scss" rel="stylesheet">
	    <link href="animate.css" rel="stylesheet">
	    <link href="main.css" rel="stylesheet">
	    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
	    <![endif]--> 
	    <link rel="shortcut icon" href="images/ico/favicon.ico">
	    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head><!--/head-->  


	<body>
		<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
	        <div class="container">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <%= link_to image_tag('logo.png'), welcome_index_path, :class => 'navbar-brand' %>
	            </div>
	            <div class="collapse navbar-collapse">
	                <ul class="nav navbar-nav navbar-right">
	                	<!-- class="active" -->
	                    <li><%= link_to t('banner.home'), welcome_index_path %></li>
	                    <li><%= link_to t('banner.funda_institu'), fundamentos_institucionales_fundamentos_institucionales_path %></li>
	                    <li><%= link_to t('banner.trayec_laboral'), trayectoria_laboral_trayectoria_laboral_path %></li>
	                    <li><%= link_to t('banner.sobre_nosotros'), sobre_nosotros_sobre_nosotros_path %></li>
	                    <li><%= link_to t('banner.contratanos'), contratanos_contratanos_path %></li> 
	                    <li><%= link_to t('banner.contactanos'), contactanos_contactanos_path %></li>
	                </ul>
	            </div>
	        </div>
	    </header><!--/header-->


		<%= yield %>


		<section id="bottom" class="wet-asphalt">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-3 col-sm-6">
	                    <h4><%= t('banner.funda_institu') %></h4>
	                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
	                    <p>Pellentesque habitant morbi tristique senectus.</p>
	                </div><!--/.col-md-3-->

	                <div class="col-md-3 col-sm-6">
	                    <h4>Company</h4>
	                    <div>
	                        <ul class="arrow">
	                            <li><a href="#">Company Overview</a></li>
	                            <li><a href="#">Meet The Team</a></li>
	                            <li><a href="#">Our Awesome Partners</a></li>
	                            <li><a href="#">Our Services</a></li>
	                            <li><a href="#">Frequently Asked Questions</a></li>
	                            <li><a href="#">Conatct Us</a></li>
	                            <li><a href="#">Privacy Policy</a></li>
	                            <li><a href="#">Terms of Use</a></li>
	                            <li><a href="#">Copyright</a></li>
	                        </ul>
	                    </div>
	                </div><!--/.col-md-3-->


	                <div class="col-md-3 col-sm-6">
	                	<!-- Para ver las últimas entradas del blog de la página
	                    <h4>Latest Blog</h4>
	                    <div>
	                        <div class="media">
	                            <div class="pull-left">
	                                <%= image_tag "blog/thumb1.jpg" %>
	                            </div>
	                            <div class="media-body">
	                                <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
	                                <small class="muted">Posted 17 Aug 2013</small>
	                            </div>
	                        </div>
	                        <div class="media">
	                            <div class="pull-left">
	                                <%= image_tag "blog/thumb2.jpg" %>
	                            </div>
	                            <div class="media-body">
	                                <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
	                                <small class="muted">Posted 13 Sep 2013</small>
	                            </div>
	                        </div>
	                        <div class="media">
	                            <div class="pull-left">
	                                <%= image_tag "blog/thumb3.jpg" %>
	                            </div>
	                            <div class="media-body">
	                                <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
	                                <small class="muted">Posted 11 Jul 2013</small>
	                            </div>
	                        </div>
	                    </div>  
	                	-->
	                </div><!--/.col-md-3-->

	                <div class="col-md-3 col-sm-6">
	                    <h4>Address</h4>
	                    <address>
	                        <strong>Twitter, Inc.</strong><br>
	                        795 Folsom Ave, Suite 600<br>
	                        San Francisco, CA 94107<br>
	                        <abbr title="Phone">P:</abbr> (123) 456-7890
	                    </address>
	                    <!-- Para poder registrar el mail y recibir notificaciones
	                    <h4>Newsletter</h4>
	                    <form role="form">
	                        <div class="input-group">
	                            <input type="text" class="form-control" autocomplete="off" placeholder="Enter your email">
	                            <span class="input-group-btn">
	                                <button class="btn btn-danger" type="button">Go!</button>
	                            </span>
	                        </div>
	                    </form>
	                	-->
	                </div> <!--/.col-md-3-->
	            </div>
	        </div>
	    </section><!--/#bottom-->

	    <footer id="footer" class="midnight-blue">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-6">
	                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
	                </div>
	                <div class="col-sm-6">
	                    <ul class="pull-right">
	                        <li><a href="#"><%= t('banner.home') %></a></li>
	                        <li><a href="#"><%= t('banner.funda_institu') %></a></li>
	                        <li><li><%= link_to t('banner.mapa_sitio'), welcome_mapa_del_sitio_path %></li></li>
	                        <li><a href="#"><%= t('banner.contactanos') %></a></li>
	                        <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </footer><!--/#footer-->

	    <script src="jquery.js"></script>
	    <script src="bootstrap.min.js"></script>
	    <script src="jquery.prettyPhoto.js"></script>
	    <script src="js/jquery.isotope.min.js"></script>
	    <script src="main.js"></script>
	</body><!--/body--> 
</html>